footer {
  background: $color-dark-slate;

  .footer-img {
    display: block;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }

  .footer-copyright {
    padding: 10px;
    background: $color-white;
  }
}

#menu-footer-nav {
  list-style-type: none;
  column-count: 2;

  li {
    width: auto;

    a {
      color: $color-white;
      text-decoration: none;
      font-family: $primary-font;
      font-weight: $font-weight-light;
    }
  }
}
