footer {
  background: $color-dark-slate;

  .footer-img {
    display: block;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }

  .footer-copyright {
    padding: 10px;
    background: $color-white;
  }
}

.footer-nav {
  display: flex;
  padding: 10px;
}

#menu-footer-nav li {
  a {
    color: $color-white;
    text-decoration: none;
    font-family: $primary-font;
    font-weight: $font-weight-light;
  }
}
