footer {
  background: $color-dark-slate;
  position: relative;

  .row {
    align-items: center;
  }

  .footer-img {
    display: block;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }

  .footer-copyright {
    padding: 10px;
    background: $color-white;
  }
}

.footer-menu {
  display: flex;

  li {
    list-style-type: none;

    a {
      color: $color-white;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

#menu-social-menu {
  list-style-type: none;
  float: right;

  li {
    display: inline-block;

    a {
      overflow: hidden;
      padding: 0;
      text-indent: -100em;
      width: 60px;
    }
  }
}

.privacy {
  color: $color-black;
  text-decoration: none;
}
