// Global Site Header
header {
  background-size: cover;
  height: 300px;
  text-align: center;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include trans-grey-gradient-down;
  }

  .site-header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease;

    &.fixed, body.buy-now-drawer-open & {
      background: $color-dark-slate;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    }

    nav {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
    }
  }

  h1 {
    margin: 0 auto;
    top: 50%;
    position: relative;
  }

  .page-buy-now & {
    background: none;
    height: auto;

    .site-header {
      background: $color-dark-slate;
      position: relative;
    }
  }

  .page-buy-now-partner & {
    background: none;
    height: auto;

    .site-header {
      background: $color-dark-slate;
      position: relative;
    }
  }
}

// Global Site Logo
.custom-logo {
  width: 100px;
  height: auto;
}

// Front Page Header
.header-frontpage {
  position: relative;
  height: 100vh;
  background-size: cover;
  text-align: center;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
  }

  .home-hero {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50%;
    margin: 0 auto;
  }
}

.down-arrow {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;

  img {
    height: 30px;
  }
}
