// Global Site Header
header {
  background-size: cover;
  height: 300px;
  text-align: center;
  background-position: center;

  .site-header {
    padding-top: 20px;
  }
}

// Global Site Logo
.custom-logo {
  width: 100px;
  height: auto;
}

// Non Front Page Header
.page-header {
  height: 300px;
}

// Front Page Header
.header-frontpage {
  position: relative;
  height: 100vh;
  background-size: cover;
  text-align: center;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
  }

  h1 {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
  }

  .banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
