.logo {
  width: 200px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav li {
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: $font-size-regular;

  a {
    color: $color-white;
    text-decoration: none;
    text-shadow: $text-shadow;

    &:hover {
      color: $color-black;
      text-shadow: none;
    }
  }
}

.buynow a {
  color: $color-black !important;
  background: $color-white;
  padding: 20px;
  text-shadow: none !important;

  &:hover {
    color: $color-white !important;
    background: $color-black;
  }
}

.nav-trigger {
  display: none;
  text-decoration: none;
  color: $color-white;
  font-size: $font-size-medium;
}

.closed::before {
  content: "\00D7";
  color: $color-black;
  position: absolute;
  font-size: 45px;
  left: 2px;
  bottom: -7px;
}

@media (max-width: 767px) {
  .nav-trigger {
    display: block;
    position: relative;
    z-index: 20;
  }

  .nav {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: $color-white;
    z-index: 10;

    li {
      margin-left: 0;
      display: block;

      a {
        color: $color-black;
        text-shadow: none;
        display: block;
        padding: 20px;
      }
    }
  }

  .buynow a {
    color: $color-white !important;
    background: $color-black;
  }
}
