// Global Site Logo
.logo {
  width: 200px;
}

// Nav Items
nav li {
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: $font-size-regular;

  a {
    color: $color-white;
    text-decoration: none;
    text-shadow: $text-shadow;

    &:hover, &:focus, &:active {
      color: lighten($color-sky-blue, 30%);
      text-decoration: underline;
      text-shadow: none;
    }
  }
}

// Buy Nav Item
.buynow-btn a {
  color: $color-black !important;
  background: $color-white;
  padding: 20px;
  text-shadow: none !important;

  &:hover, &:focus, &:active {
    color: $color-white !important;
    background: $color-black;
    text-decoration: none;
  }
}

.buynow-mobile {
  display: none;
}

// Mobile Navigation
.nav-trigger {
  display: none;
  text-decoration: none;
  color: $color-white;
  font-size: $font-size-medium;

  &::before {
    content: "\2630";
  }

  &:hover {
    text-decoration: none;
    color: $color-sky-blue;
  }
}

.closed::before {
  content: "\00D7";
  color: $color-black;
  font-size: 45px;
}
