// Global Site Logo
.logo {
  width: 200px;
}

// Nav Items
nav li {
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: $font-size-regular;

  a {
    color: $color-white;
    text-decoration: none;
    text-shadow: $text-shadow;

    &:hover {
      color: $color-black;
      text-shadow: none;
    }
  }
}

// Buy Nav Item
.buynow-btn a {
  color: $color-black !important;
  background: $color-white;
  padding: 20px;
  text-shadow: none !important;

  &:hover {
    color: $color-white !important;
    background: $color-black;
  }
}

// Mobile Navigation
.nav-trigger {
  display: none;
  text-decoration: none;
  color: $color-white;
  font-size: $font-size-medium;
}

.closed::before {
  content: "\00D7";
  color: $color-black;
  position: absolute;
  font-size: 45px;
  left: 2px;
  bottom: -7px;
}
