@import "~normalize.css/normalize.css";
@import "common/variables";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

.hero {
  height: 500px;
  background-size: cover;
}

.services {
  height: 400px;
  display: flex;

  article {
    flex-grow: 1;
    background-size: cover;
  }
}
