.pass-select {
  & > div {
    text-align: center;
  }
}

.pass-choice {
  cursor: pointer;

  &:not(.pass-choice-active):hover {
    background: #FAFAFA;
  }
}

.pass-read-more {
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: 800;

  &:hover {
    font-style: italic;
  }
}

.pass-choice-active {
  background: #EEE;
}

.page-template-page-buy-now-partner header h1 {
  display: none;
}

form#buynowpartnerform .row {
  padding: 0 15px;
}
