.sticky-cart {
  box-shadow: -5px 0 10px $color-light-grey;
  width: 100%;
  padding: 0;

  [id="sticky-cart"] {
    padding: 1rem 1rem 0;

    &.fixed {
      width: 25%;
      position: fixed;
      top: 0;
      right: 0;
    }
  }
}

.form-step {
  position: relative;
}

.form-section {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid $color-dark-slate;

  & > legend {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
}

.form-row {
  position: relative;
  margin: 0 0 rem-calc(20px);
}

// Form Progress
ol.form-progress {
  list-style: none;
  display: table;
  margin: 1.5rem 0;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  counter-reset: progressStep;

  &:focus {
    outline: 0;

    li[data-step-current] {
      outline: grey dotted 1px;
    }
  }
}
