.home {
  .header {
    position: relative;

    h1 {
      width: 50%;
      margin: 0 auto;
      padding-top: 2em;
    }

    .banner {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.home video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
}

.services {
  padding-bottom: 30px;

  .container {
    display: flex;
    text-align: center;

    article {
      flex-grow: 1;
      width: 33.3%;
      height: 600px;
      background-size: cover;
      position: relative;
      margin-bottom: 8em;

      &::before {
        @extend %gradient;
      }

      div {
        position: absolute;
        bottom: -100px;
        width: 100%;

        h4 {
          margin-top: 10px;
          margin-bottom: 0;
        }

        h5 {
          margin-bottom: 0;
        }
      }
    }
  }
}

.callout {
  height: 600px;
  background-size: cover;
  background-position: bottom;
  position: relative;

  .callout-text {
    position: absolute;
    width: 30%;
    bottom: 30px;
    left: 30px;
    z-index: 10;
  }
}

.products {
  height: 600px;
  background-size: cover;

  .container {
    width: 40%;
    float: right;

    article {
      float: left;
      width: 45%;
      background: $color-white;
      padding: 20px 10px;
      box-sizing: border-box;
      text-align: center;
      margin-right: 5%;

      h2 {
        margin: 10px;
      }
    }
  }
}
