.services {
  padding-bottom: 30px;
  text-align: center;

  article {
    height: 500px;
    background-size: cover;
    position: relative;
    margin-bottom: 8em;

    &::before {
      @extend %gradient;
    }

    div {
      position: absolute;
      bottom: -100px;
      width: 100%;

      h4 {
        margin-top: 10px;
        margin-bottom: 0;
      }

      h5 {
        margin-bottom: 0;
      }
    }
  }
}

.callout {
  height: 600px;
  background-size: cover;
  background-position: bottom;
  position: relative;

  .callout-text {
    position: absolute;
    width: 30%;
    bottom: 30px;
    left: 60px;
    z-index: 10;
    margin-left: 60px;
  }
}

.products {
  height: 600px;
  background-size: cover;

  .products-container {
    width: 40%;
    float: right;
    margin-right: 60px;

    article {
      float: left;
      width: 45%;
      background: $color-white;
      padding: 20px 10px;
      box-sizing: border-box;
      text-align: center;
      margin-right: 5%;

      h2 {
        margin: 10px;
      }
    }
  }
}

.latestposts {
  background: $color-dark-slate;

  article {
    display: flex;
    align-items: center;
    color: $color-white;
    padding: 2em;

    &:nth-of-type(-n+2) {
      border-right: 1px solid #979797;
    }

    .post-title {
      font-family: $primary-font;
      font-size: 20px;
    }

    img {
      width: auto;
      margin-right: 1em;
    }

    a {
      color: $color-white;
      font-family: $primary-font;
      font-size: 18px;
    }
  }
  // }
}
