body {
  background: $color-white;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-xs-12 {
  padding: 0;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.hidden {
  display: none;
}

.col-sm-12 {
  width: 100%;
}
