@media (max-width: 767px) {
  .header-frontpage h1 {
    width: auto;
  }

  .callout .callout-text {
    width: auto;
    left: 20px;
    margin-left: 10px;
  }

  .services .services-container {
    display: block;

    article {
      width: 100%;
      height: 400px;

      h3 {
        margin-top: 0;
        padding-top: 20px;
      }
    }
  }

  .products {
    height: 700px;

    .products-container {
      width: auto;
      margin-right: 0;
    }
  }

  .latestposts {
    article {
      img {
        display: none;
      }

      &:nth-of-type(-n+2) {
        border-color: transparent;
      }
    }
  }

  .nav-trigger {
    display: block;
    position: relative;
    text-align: right;
    z-index: 20;
  }

  .nav {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $color-white;
    z-index: 10;

    li {
      margin-left: 0;
      display: block;

      a {
        color: $color-black;
        text-shadow: none;
        display: block;
        padding: 20px;
      }
    }
  }

  #buynow {
    display: block;
    padding: 2em 10px;

    .passes article {
      margin: 0;

      &:first-of-type {
        border-right: 2px solid $color-dark-slate;
      }
    }
  }

  .buynow a {
    color: $color-white !important;
    background: $color-black;
  }

  .team {
    display: block;
  }
}
