h1 {
  font-family: $primary-font;
  font-weight: $font-weight-medium;
  font-size: $font-size-extra-large;
  text-transform: uppercase;
}

h2 {
  font-family: $primary-font;
  font-weight: $font-weight-medium;
  font-size: $font-size-large;
}
