h1 {
  font-family: $primary-font;
  font-weight: $font-weight-medium;
  font-size: $font-size-extra-large;
  text-transform: uppercase;
  color: $color-white;
  text-shadow: $text-shadow;
}

h2 {
  font-family: $primary-font;
  font-weight: $font-weight-medium;
  font-size: $font-size-large;
}

h3 {
  font-family: $primary-font;
  font-weight: $font-weight-medium;
  font-size: $font-size-medium-large;
  color: $color-white;
  text-shadow: $text-shadow;
  text-transform: uppercase;
}

h4 {
  font-family: $primary-font;
  font-weight: $font-weight-regular;
  font-size: $font-size-medium;
}

h5 {
  font-family: $primary-font;
  font-weight: $font-weight-regular;
  font-size: $font-size-regular;
  text-transform: uppercase;
}

p {
  font-family: $secondary-font;
  font-size: $font-size-regular;
}
