// Brand Colors
$color-dark-slate: #1B2F3F;
$color-slate: #5D7C94;
$color-sky-blue: #3786B5;

// Neutral Colors
$color-dark-blue: #21506C;
$color-dark-grey: #4A4A4A;
$color-medium-grey: #858585;
$color-light-grey: #EFEFEF;

// Base Colors
$color-white: #FFF;
$color-black: #000;
$color-error: #B90A0A;
$color-white-trans: rgba($color-white, 0);

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Merriweather', serif;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font Sizes
$font-size-regular: 17px;
$font-size-medium: 30px;
$font-size-medium-large: 35px;
$font-size-large: 40px;
$font-size-extra-large: 45px;

// Misc
$text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
$spacer: 2rem;

/** Modified Grid */
$xsmall-screen: 600px;
$xsmall-screen-up: 601px;
$small-screen-up: 769px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
$small-and-up: "only screen and (min-width : #{$xsmall-screen-up})";
$small-and-down: "only screen and (max-width : #{$xsmall-screen})";

/** Gradients */
// Utility mixin from Compass
@mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
  $gradient-type: if($orientation == vertical, 0, 1);
 /* stylelint-disable */
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}'); // eslint-disable-line function-name-case
  /* stylelint-enable */
}

@mixin trans-white-gradient-ltr-up {
  @include filter-gradient($color-white-trans, $color-white, vertical);

  background-image: -o-linear-gradient(215deg, $color-white-trans 40%, $color-white 85%);
  background-image: -moz-linear-gradient(215deg, $color-white-trans 40%, $color-white 85%);
  background-image: -ms-linear-gradient(215deg, $color-white-trans 40%, $color-white 85%);
  background-image: linear-gradient(215deg, $color-white-trans 40%, $color-white 85%);
}

@mixin trans-white-gradient-up {
  @include filter-gradient($color-white-trans, $color-white, vertical);

  background-image: -o-linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
  background-image: -moz-linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
  background-image: -ms-linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
  background-image: linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
}

@mixin trans-white-gradient-up-more {
  @include filter-gradient($color-white-trans, $color-white, vertical);

  background-image: -o-linear-gradient(180deg, $color-white-trans 30%, $color-white 80%);
  background-image: -moz-linear-gradient(180deg, $color-white-trans 30%, $color-white 80%);
  background-image: -ms-linear-gradient(180deg, $color-white-trans 30%, $color-white 80%);
  background-image: linear-gradient(180deg, $color-white-trans 30%, $color-white 80%);
}

@mixin trans-grey-gradient-down {
  @include filter-gradient(rgba($color-dark-blue, 0), rgba($color-dark-blue, 0.5), vertical);

  background-image: -o-linear-gradient(0deg, rgba($color-dark-blue, 0) 60%, rgba($color-dark-blue, 0.5) 90%);
  background-image: -moz-linear-gradient(0deg, rgba($color-dark-blue, 0) 60%, rgba($color-dark-blue, 0.5) 90%);
  background-image: -ms-linear-gradient(0deg, rgba($color-dark-blue, 0) 60%, rgba($color-dark-blue, 0.5) 90%);
  background-image: linear-gradient(0deg, rgba($color-dark-blue, 0) 60%, rgba($color-dark-blue, 0.5) 90%);
}
