.skier-details {
  display: flex;
  flex-wrap: wrap;

  .addskier-container {
    display: flex;
    position: relative;
    background: $color-slate;
    color: $color-white;
    margin: 1em 1em 0 0;
    border: 0;
    padding: 1.5em;

    legend {
      position: relative;
      top: 1em;
      font-size: $font-size-medium;
    }

    label {
      padding: 0.8em 0;
    }

    input {
      width: 98%;
    }
  }
}

#add-skier {
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: $color-slate;
  color: white;
  cursor: pointer;
  transition: background 1s, transform 1.5s;

  &:hover {
    background: $color-dark-slate;
  }

  &:focus {
    outline: none;
  }
}
