.skier-details {
  display: flex;
  flex-wrap: wrap;

  .skier-container {
    position: relative;
    width: 22.5%;
    background: $color-slate;
    color: $color-white;
    border: 0;
    padding: 1.5em;
    margin: 1em;

    &:first-of-type span {
      display: none;
    }

    span {
      position: absolute;
      font-family: sans-serif;
      top: 0;
      right: 10px;
      cursor: pointer;
    }

    h5 {
      margin: 10px 0;
    }
  }
}

#add-skier {
  align-self: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: $color-slate;
  color: white;
  cursor: pointer;
  transition: background 1s, transform 1.5s;

  &:hover {
    background: $color-dark-slate;
  }

  &:focus {
    outline: none;
  }
}
