.banner {
  background: $color-dark-slate;
  color: $color-white;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  padding: 20px;
  text-align: center;

  span {
    font-family: $primary-font;
    display: block;
    font-size: 0.6em;
    margin-top: 0.5em;
  }
}
