.btn {
  padding: 10px;
  background: $color-black;
  color: $color-white;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $primary-font;
  font-weight: $font-weight-light;
  display: block;
  width: 150px;
  text-align: center;
  margin: 1em auto 2em auto;
  border: 2px solid $color-black;
  cursor: pointer;

  &:hover {
    background: $color-white;
    color: $color-black;
  }
}

.btn-alt {
  @extend .btn;

  background: $color-white;
  color: $color-black;
  width: auto;

  &:hover {
    color: $color-white;
    background: $color-black;
  }
}
