.btn {
  padding: 10px 5px;
  background: $color-black;
  color: $color-white;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $primary-font;
  font-weight: $font-weight-light;
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}
