#buy-now-drawer {
  display: block;
  position: fixed;
  z-index: 20;
  top: 87px;
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  transition: max-height 0.5s ease;

  body.buy-now-drawer-open & {
    max-height: 20rem;
  }

  .buynow {
    background: $color-dark-slate;
    color: $color-white;

    .zipcode {
      input {
        color: white;
        background-color: transparent !important;
        display: inline-block;
        width: auto;
        margin: 0;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    button {
      @extend .btn-alt;
    }
  }

  .wpcf7-form {
    fieldset {
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .field-wrapper {
      width: 50%;
      float: left;
      text-align: left;
      padding: 0 10px;
      box-sizing: border-box;

      input, select {
        margin-bottom: 0;
      }
    }

    .wpcf7-submit {
      margin-bottom: 1em;
    }
  }
}

.buynow {
  display: flex;
  padding: 1.5em 4em;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  p {
    margin-bottom: 0.5em;
  }

  .zipcode {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    input {
      background: transparent;
      border: 0;
      border-bottom: 2px solid $color-medium-grey;
      text-align: center;
      line-height: 36px;

      &:focus {
        outline: none;
      }
    }
  }

  button {
    @extend .btn;
  }

  .hidden-label {
    position: absolute;
    left: -10000px;
    top: auto;
  }

  .passes {
    position: relative;
    left: 110%;
    display: flex;
    justify-content: space-around;

    .variation {
      display: none;
      background: $color-white;
      color: $color-black;
      margin: 0 20px;
      padding: 10px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }

    .state-name {
      display: none;
    }

    .duration {
      margin-top: 1em;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
    }

    .price {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 40px;
    }

    .avail {
      width: 50%;
      display: block;
    }

    .not-avail {
      width: 90%;
    }
  }

  .active {
    transition: 1s;
    transform: none;
    left: 0;
    flex-grow: 2;
  }
}

.not-avail .wpcf7-form {
  fieldset {
    border: none;
  }

  .consent {
    font-size: 10px;
  }
}
