.map-container {
  background: url('../assets/images/map-bg.png');
  background-size: cover;
  background-position: center;
}

#map {
  margin: 0 auto;
  display: block;

  path {
    fill: $color-dark-slate;

    &:hover {
      fill: $color-medium-grey;
    }
  }
}

.state-list {
  display: none;
}
