#menu-social-menu {
  li {
    a {
      display: block;
      position: relative;
      height: 40px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    &.facebook-footer a::before {
      background-image: url('../images/facebook.svg');
    }

    &.instagram-footer a::before {
      background-image: url('../images/instagram.svg');
    }

    &.twitter-footer a::before {
      background-image: url('../images/twitter.svg');
    }
  }
}
